/* *{
  margin: 0;
  padding: 0;
} */
 
header{
  display: flex;
  border-bottom: solid gainsboro 2px;
}
header h1 span{
  font-size: 1.6em;
}
img{
  height: 20%;
  width: 10%;
}
.topnav #menu{
  text-align: center;
}